* {
  margin: 0px;
}

body {
  font-family:'Lucida Grande', Geneva, Verdana, Arial, sans-serif;  
  margin: 0px auto;
  width: 95%;
  font-size: .8em;
  }

div#siteHeader {
  background-color: #76a3cd;
  padding-left: 20px;
  padding-right: 20px;
  clear: both;
}

div#siteHeader a:link {
  color: #ffffff;
  text-decoration: none;
}

div#siteHeader a:visited {
  color: #ffffff;
  text-decoration: none;
}

div#siteHeader a:hover {
  color: #ffffff;
}

ul.siteNav {
  list-style-type: none;
  padding:0;
	margin:0;
	position: relative;
	left: 60px;
  }
  
ul.siteNav li {
	display: inline;
	float: left;
	padding: 0 20px;
	}

ul.siteNav li ul {
  position:absolute;
  margin-top:-1em;
	margin-left:.5em;
	display: none;
  }

ul.siteNav li a {
	text-decoration: none;
	padding: 5px;
	}

ul.siteNav li:hover ul { 
display: block; 
}

ul.siteNav li ul {
  list-style-type: none;
  padding:0;
	margin:0;
  background-color: #76a3cd;
}

ul.siteNav li ul li { 
clear: both;
}

div#docHeader {
  background: #909090;
  height: 50px;
  color: #ffffff;
  padding-left: 20px;
  padding-right: 20px;
  vertical-align: top;
  clear: both;
  }

div#docHeader a:link {
  color: #ffffff;
  text-decoration: none;
}

div#docHeader a:visited {
  color: #ffffff;
  text-decoration: none;
}

div#docHeader a:hover {
  color: #ffffff;
}

ul.docNav {
  list-style-type: none;
  }
  
ul.docNav li {
  display: inline;
  font-size: large;
  padding: 0 40px;
  }

div#siteFooter {
  height: 25px;
  background-color: #76a3cd;
  margin-top: 30px;
  color: #ffffff;
  text-align: right;
  vertical-align: bottom;
  clear: both;
  padding-left: 20px;
  padding-right: 20px;
}

div#content {
   clear: both;
  margin: 30px;
}

div#body {
  padding-left: 22.5em;
  margin-bottom: 30px;
  }
  
div#nav {
  display: block;
  width: 20em;
  float: left;
  margin: 0px;
  margin-bottom: 30px;
}

div.highlight pre {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
  background-color: #eee;
  margin-left: 1em;
  margin-right: 1em;
  padding: .5em;
}

tt {
  font-family: 'Courier', Courier, monospace;
  font-size: 1em;
}

div.left {
  clear: both;
  float: left;
  text-align: right;
  width: 200px;
  margin-top: 1em;
  margin-bottom: 1em;
}

div.left h2 {
  color: #333333;
}

div.right {
  float: right;
  text-align: left;
  width: 450px;
  margin: auto;
  color: #666666;
  font-size: 120%;
  margin-top: 1em;
  margin-bottom: .75em;
}

div.pdf {
  padding-left: 20px;
  background: url('images/pdf.png') no-repeat left center;
}
