div#overview {
  width: 70%;
  float: left;
}

div#boxes {
  width: 30%;
  float: right;
}

div#boxes div {
  padding: 10px;
  margin: 5px;
  min-height: 5em;
}

div#boxes h1 {
  font-size: medium;
  color: #383838;
  padding-left: 35px;
  margin: 0;
  border-bottom: none;
}

div#boxes a {
  text-decoration: none;
  color: #383838;
}

div#boxes a:hover {
  color: blue;
}

div#boxes ul {
  list-style-image: url("/images/collapsed.gif");
  list-style-type: square;
  padding-left: 45px;
}

div#getit_box {
  background-color: #33CC99;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25);
  -moz-box-shadow: rgba(0,0,0,0.25) 0.25em 0.25em 1em;
  }

div#useit_box {
  background-color: #6699FF;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25);
  -moz-box-shadow: rgba(0,0,0,0.25) 0.25em 0.25em 1em;
}

div#makeit_box {
  background-color: #CC99CC;
  border-radius: 1em;
  -webkit-border-radius: 1em;
  -moz-border-radius: 1em;
  -webkit-box-shadow: 0.25em 0.25em 1em rgba(0,0,0,0.25);
  -moz-box-shadow: rgba(0,0,0,0.25) 0.25em 0.25em 1em;
}

div#news {
  float: left;
  width: 70%;
}

div#twitter {
  float: right;
  width: 30%;
  padding-bottom: 10px;
  padding-top: 10px;
  clear: right;
}

span.bignum {
  color: white;
  font-size: 5em;
  float:left;
}

div#box_content {
  float: right;
}